body {
  background-color: #93907B;
}

#main-body {
  width:950px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 5px #666;
  margin-top: -20px;
}

.navbar .container {
  width:90%;
}

.pagination {
  height:20px;
}

.pagination a, .pagination .page.current {
  line-height:20px;
  padding: 0 7px;
}

.controls label {
  display: inline;
}

.initially_invisible {
  display: none;
}

.original_recipe_link {
  margin-top:20px;
}

.add_recipe {
  float:right;
}

.bookmarklet {
  border-top: 1px dashed #ddd;
  padding-top:10px;
  margin-top:10px;
}

textarea {
  width:75%;
}

.original_recipe_link {
  margin-bottom: 10px;
}

#getting-started {
  margin:auto;
  margin-top:20px;
}

#getting-started p {
  font-size:15px;
  line-height:20px;
  margin-bottom:20px;
}

#getting-started p span {
  font-size:30px;
  font-weight:bold;
  line-height:30px;
  display:block;
  float:left;
  margin-right: 10px;
  margin-top: -7px;
}