<h1>Cataloged sites</h1>
<p>
  If the recipe you are trying to add belongs to one of the sites cataloged below, the recipe will be added automatically. If it hasn't you will have to add the recipe in manually for now, but you will be notified once the site is cataloged.
</p>
<%= paginate @sites %>
<table class="table table-striped table-condensed">

<% @sites.each do |site| %>
  <tr>
    <td><%= site.domain %></td>
  </tr>
<% end %>
</table>


